table {
  width: 250px;
  height: 350px;
  border-radius: 30px;
  /*border-collapse: collapse;*/
}
table, tr, td {
  /*border: 1px solid black;*/

}

td {
  font-family: Avenir, sans-serif;

  text-align: center;
  padding: 10px;

}

.display {
  text-align: right;
  letter-spacing: 1px;
  padding-right: 30px;
  padding-top: 40px;
  font-size: 1.5em;
  color: #ECF0F1;
  height: 25%;
  border-radius: 20px 20px 0px 0px;
  background-color: #333333;
}

.reset {
  color: grey;
  text-align: left;
}

.numbers, #ac {
  font-size: 1em;
  color: #2C3E50;
  background-color: #ECF0F1;

}
.numbers:active, #ac:active  {
  background-color: #DCDFE0;
}

.numbers:hover, #ac:hover {
  background-color: #E1E5E5;
}



.operator {
  font-size: 1.2em;
  color: #ECF0F1;
  background-color: #E74C3C;
}
.operator:hover {
  background-color: #DB4839;

}
.operator:active {
  background-color: darkred;

}


.results {
  font-size: 1.2em;
  padding: 5px;
  color: #ECF0F1;
  background-color: #66C5C2;
  border-radius: 0 0 20px 0;
}

.results:hover {
  background-color: #5FB8B5;
}
.results:active {
  background-color: #59ACA9;
}




#zero {
  border-radius: 0 0 0 20px;
}

#ac {
  padding-left: 25px;
}


