table {
  width: 300px;
  height: 400px;
}
table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 10px;
}

.display {
  height: 25%;
}

.reset {
  color: grey;
  text-align: left;
}

.numbers {
  color: red;
}

.operator {
  color: blue;
}
